# NBA 2017-18 Stats Data

**DESCRIPTION**

Player and team box scores and team standings from the 2017-18 season.

**SOURCE** 

[Kaggle - NBA Enhanced Box Score and Standings Stats](https://www.kaggle.com/pablote/nba-enhanced-stats#2017-18_playerBoxScore.csv)

**FILES**

* 2017-18_playerBoxScore.csv
* 2017-18_teamBoxScore.csv
* 2017-18_standings.csv

----
## Imports and Setup

In [2]:
import pandas as pd

---
## Data Exploration

### Player Box Score Stats

In [4]:
playerStats = pd.read_csv('2017-18_playerBoxScore.csv')

In [8]:
playerStats.sample(10)

,gmDate,gmTime,seasTyp,playLNm,playFNm,teamAbbr,teamConf,teamDiv,teamLoc,teamRslt,...,playFT%,playORB,playDRB,playTRB,opptAbbr,opptConf,opptDiv,opptLoc,opptRslt,opptDayOff
16495,2018-02-03,03:30,Regular,Arcidiacono,Ryan,CHI,East,Central,Away,Loss,...,0.0000,0,0,0,LAC,West,Pacific,Home,Win,3
15622,2018-01-28,06:00,Regular,James,LeBron,CLE,East,Central,Home,Win,...,0.8889,1,7,8,DET,East,Central,Away,Loss,3
15213,2018-01-26,07:30,Regular,Joseph,Cory,IND,East,Central,Away,Loss,...,0.0000,1,2,3,CLE,East,Central,Home,Win,2
22348,2018-03-19,07:30,Regular,Russell,D'Angelo,BKN,East,Atlantic,Home,Win,...,1.0000,1,4,5,MEM,West,Southwest,Away,Loss,1
24071,2018-03-30,09:00,Regular,McLemore,Ben,MEM,West,Southwest,Away,Loss,...,0.0000,0,4,4,UTA,West,Northwest,Home,Win,1
4317,2017-11-14,07:30,Regular,Rozier,Terry,BOS,East,Atlantic,Away,Win,...,0.0000,1,1,2,BKN,East,Atlantic,Home,Loss,2
11648,2018-01-01,07:30,Regular,Siakam,Pascal,TOR,East,Atlantic,Home,Win,...,0.0000,1,0,1,MIL,East,Central,Away,Loss,2
24025,2018-03-30,08:00,Regular,Anderson,Ryan,HOU,West,Southwest,Home,Win,...,0.0000,2,3,5,PHO,West,Pacific,Away,Loss,1
17516,2018-02-09,09:00,Regular,Bacon,Dwayne,CHA,East,Southeast,Away,Loss,...,0.0000,0,0,0,UTA,West,Northwest,Home,Win,2
9827,2017-12-20,08:00,Regular,Westbrook,Russell,OKC,West,Northwest,Home,Win,...,1.0000,4,6,10,UTA,West,Northwest,Away,Loss,2

In [6]:
playerStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26109 entries, 0 to 26108
Data columns (total 51 columns):
gmDate        26109 non-null object
gmTime        26109 non-null object
seasTyp       26109 non-null object
playLNm       26109 non-null object
playFNm       26109 non-null object
teamAbbr      26109 non-null object
teamConf      26109 non-null object
teamDiv       26109 non-null object
teamLoc       26109 non-null object
teamRslt      26109 non-null object
teamDayOff    26109 non-null int64
offLNm1       26109 non-null object
offFNm1       26109 non-null object
offLNm2       26109 non-null object
offFNm2       26109 non-null object
offLNm3       26089 non-null object
offFNm3       26089 non-null object
playDispNm    26109 non-null object
playStat      26109 non-null object
playMin       26109 non-null int64
playPos       26109 non-null object
playHeight    26109 non-null int64
playWeight    26109 non-null int64
playBDate     26109 non-null object
playPTS       26109 non-null int64
playAST       26109 non-null int64
playTO        26109 non-null int64
playSTL       26109 non-null int64
playBLK       26109 non-null int64
playPF        26109 non-null int64
playFGA       26109 non-null int64
playFGM       26109 non-null int64
playFG%       26109 non-null float64
play2PA       26109 non-null int64
play2PM       26109 non-null int64
play2P%       26109 non-null float64
play3PA       26109 non-null int64
play3PM       26109 non-null int64
play3P%       26109 non-null float64
playFTA       26109 non-null int64
playFTM       26109 non-null int64
playFT%       26109 non-null float64
playORB       26109 non-null int64
playDRB       26109 non-null int64
playTRB       26109 non-null int64
opptAbbr      26109 non-null object
opptConf      26109 non-null object
opptDiv       26109 non-null object
opptLoc       26109 non-null object
opptRslt      26109 non-null object
opptDayOff    26109 non-null int64
dtypes: float64(4), int64(22), object(25)
memory usage: 10.2+ MB

In [7]:
playerStats.describe()

,teamDayOff,playMin,playHeight,playWeight,playPTS,playAST,playTO,playSTL,playBLK,playPF,...,play3PA,play3PM,play3P%,playFTA,playFTM,playFT%,playORB,playDRB,playTRB,opptDayOff
count,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,...,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000,26109.000000
mean,1.785285,22.752423,78.984488,215.859742,10.018729,2.189666,1.291279,0.727718,0.453483,1.870428,...,2.732429,0.988471,0.240852,2.042476,1.566625,0.423758,0.914934,3.184840,4.099774,1.786779
std,1.165622,10.235382,3.376295,24.716482,8.021955,2.441696,1.393063,0.974537,0.819106,1.439642,...,2.733733,1.343796,0.297145,2.653412,2.183456,0.433047,1.305609,2.744718,3.451591,1.164138
min,0.000000,0.000000,69.000000,149.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,16.000000,77.000000,198.000000,4.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,1.000000
50%,2.000000,24.000000,79.000000,215.000000,9.000000,1.000000,1.000000,0.000000,0.000000,2.000000,...,2.000000,0.000000,0.000000,1.000000,1.000000,0.500000,0.000000,3.000000,3.000000,2.000000
75%,2.000000,31.000000,82.000000,235.000000,15.000000,3.000000,2.000000,1.000000,1.000000,3.000000,...,4.000000,2.000000,0.500000,3.000000,2.000000,1.000000,1.000000,5.000000,6.000000,2.000000
max,10.000000,52.000000,87.000000,290.000000,60.000000,25.000000,11.000000,10.000000,10.000000,6.000000,...,18.000000,10.000000,1.000000,29.000000,21.000000,1.000000,12.000000,22.000000,30.000000,10.000000

### Team Box Score Stats

In [9]:
teamStats = pd.read_csv('2017-18_teamBoxScore.csv')

In [10]:
teamStats.sample(10)

,gmDate,gmTime,seasTyp,offLNm1,offFNm1,offLNm2,offFNm2,offLNm3,offFNm3,teamAbbr,...,opptFIC40,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace
1724,2018-02-14,10:30,Regular,Wood,Leon,Brown,Tony,Spooner,Bill,GS,...,75.2083,119.1035,113.2936,5.8099,0.4787,14.5391,1.4286,64.2857,103.2715,103.2715
2102,2018-03-19,07:30,Regular,Workman,Haywoode,Fitzgerald,Kane,Buchert,Nick,MEM,...,75.3138,116.3494,113.3913,2.9581,0.4235,19.4805,1.2273,22.7273,101.4187,101.4187
1488,2018-01-30,07:30,Regular,Mauer,Ken,Wood,Leon,Sterling,Jonathan,BKN,...,73.8542,113.9816,97.5519,16.4297,0.4432,16.5414,2.0000,54.5455,97.3841,97.3841
1132,2018-01-04,10:30,Regular,Orr,J.T.,Zielinski,Gary,Capers,James,OKC,...,74.4792,114.9801,124.8075,-9.8274,0.4737,19.4474,2.9000,50.0000,101.7567,101.7567
16,2017-10-18,08:30,Regular,Tiven,Josh,Richardson,Leroy,Mauer,Ken,ATL,...,68.4375,112.0361,118.0921,-6.0560,0.4086,19.5312,1.6875,31.2500,99.0752,98.6641
1108,2018-01-03,07:00,Regular,Kogut,Marat,Nansel,Brett,Davis,Marc,SA,...,72.8125,115.1778,109.0075,6.1703,0.4500,17.0471,1.7692,76.9231,97.2410,96.8375
2098,2018-03-19,07:00,Regular,Richardson,Leroy,Zielinski,Gary,Spooner,Bill,LAL,...,82.7406,118.8950,108.0864,10.8086,0.5059,18.9934,3.4286,128.5714,92.5186,93.2961
1683,2018-02-12,07:30,Regular,Williams,James,Corbin,Sean,Van Duyne,Justin,BKN,...,74.8963,119.2858,105.6830,13.6028,0.5217,15.1806,1.2667,53.3333,95.5688,95.5688
269,2017-11-04,09:00,Regular,Guthrie,David,Holtkamp,Lauren,Wood,Leon,DEN,...,94.4792,120.3252,102.3238,18.0014,0.5051,25.0858,2.5333,86.6667,105.5473,105.1093
486,2017-11-20,07:00,Regular,Guthrie,David,Stafford,Derrick,Acosta,Ray,UTA,...,73.2218,106.1201,85.2928,20.8273,0.4583,14.8500,1.0000,55.0000,100.8292,101.2511

In [12]:
print(teamStats.columns.values)

['gmDate' 'gmTime' 'seasTyp' 'offLNm1' 'offFNm1' 'offLNm2' 'offFNm2'
 'offLNm3' 'offFNm3' 'teamAbbr' 'teamConf' 'teamDiv' 'teamLoc' 'teamRslt'
 'teamMin' 'teamDayOff' 'teamPTS' 'teamAST' 'teamTO' 'teamSTL' 'teamBLK'
 'teamPF' 'teamFGA' 'teamFGM' 'teamFG%' 'team2PA' 'team2PM' 'team2P%'
 'team3PA' 'team3PM' 'team3P%' 'teamFTA' 'teamFTM' 'teamFT%' 'teamORB'
 'teamDRB' 'teamTRB' 'teamPTS1' 'teamPTS2' 'teamPTS3' 'teamPTS4'
 'teamPTS5' 'teamPTS6' 'teamPTS7' 'teamPTS8' 'teamTREB%' 'teamASST%'
 'teamTS%' 'teamEFG%' 'teamOREB%' 'teamDREB%' 'teamTO%' 'teamSTL%'
 'teamBLK%' 'teamBLKR' 'teamPPS' 'teamFIC' 'teamFIC40' 'teamOrtg'
 'teamDrtg' 'teamEDiff' 'teamPlay%' 'teamAR' 'teamAST/TO' 'teamSTL/TO'
 'opptAbbr' 'opptConf' 'opptDiv' 'opptLoc' 'opptRslt' 'opptMin'
 'opptDayOff' 'opptPTS' 'opptAST' 'opptTO' 'opptSTL' 'opptBLK' 'opptPF'
 'opptFGA' 'opptFGM' 'opptFG%' 'oppt2PA' 'oppt2PM' 'oppt2P%' 'oppt3PA'
 'oppt3PM' 'oppt3P%' 'opptFTA' 'opptFTM' 'opptFT%' 'opptORB' 'opptDRB'
 'opptTRB' 'opptPTS1' 'opptPTS2' 'opptPTS3' 'opptPTS4' 'opptPTS5'
 'opptPTS6' 'opptPTS7' 'opptPTS8' 'opptTREB%' 'opptASST%' 'opptTS%'
 'opptEFG%' 'opptOREB%' 'opptDREB%' 'opptTO%' 'opptSTL%' 'opptBLK%'
 'opptBLKR' 'opptPPS' 'opptFIC' 'opptFIC40' 'opptOrtg' 'opptDrtg'
 'opptEDiff' 'opptPlay%' 'opptAR' 'opptAST/TO' 'opptSTL/TO' 'poss' 'pace']

In [11]:
teamStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Columns: 123 entries, gmDate to pace
dtypes: float64(50), int64(54), object(19)
memory usage: 2.3+ MB

In [13]:
teamStats.describe()

,teamMin,teamDayOff,teamPTS,teamAST,teamTO,teamSTL,teamBLK,teamPF,teamFGA,teamFGM,...,opptFIC40,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace
count,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,...,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000
mean,241.480894,1.787398,106.332927,23.239837,14.291057,7.723577,4.813008,19.851626,86.045122,39.607724,...,66.507574,108.648174,108.648174,0.000000,0.437266,17.365384,1.765154,58.050035,97.897517,97.306235
std,6.583839,1.165418,12.065504,5.214414,3.785184,2.928179,2.511461,4.212959,6.863569,5.098001,...,13.448211,11.181424,11.181424,14.191395,0.051327,3.269830,0.720031,28.393448,5.284437,4.752136
min,226.000000,0.000000,69.000000,9.000000,3.000000,0.000000,0.000000,8.000000,66.000000,22.000000,...,18.437500,74.394300,74.394300,-62.409700,0.255800,7.756700,0.476200,0.000000,83.926800,83.578600
25%,240.000000,1.000000,98.000000,20.000000,12.000000,6.000000,3.000000,17.000000,81.000000,36.000000,...,57.708300,101.245000,101.245000,-9.120125,0.404300,15.124825,1.285700,38.888900,94.173700,94.028125
50%,240.000000,2.000000,106.000000,23.000000,14.000000,8.000000,5.000000,20.000000,86.000000,39.000000,...,66.138950,108.816650,108.816650,0.000000,0.438200,17.299700,1.625000,53.333300,97.606150,97.165050
75%,241.000000,2.000000,114.000000,27.000000,17.000000,10.000000,6.000000,23.000000,91.000000,43.000000,...,75.311525,116.279225,116.279225,9.120125,0.471300,19.519800,2.083300,71.428600,100.908400,100.238300
max,317.000000,10.000000,149.000000,46.000000,29.000000,17.000000,16.000000,42.000000,114.000000,58.000000,...,120.520800,147.222200,147.222200,62.409700,0.616300,29.143400,8.666700,280.000000,121.313800,121.656400

### Team Standing Stats

In [14]:
standings = pd.read_csv('2017-18_standings.csv')

In [15]:
standings.sample(10)

,stDate,teamAbbr,rank,rankOrd,gameWon,gameLost,stk,stkType,stkTot,gameBack,...,rel%Indx,mov,srs,pw%,pyth%13.91,wpyth13.91,lpyth13.91,pyth%16.5,wpyth16.5,lpyth16.5
711,2017-11-09,ORL,3,3rd,7,4,W1,win,1,2.5,...,0.537050,3.6364,3.1325,0.6197,0.6156,50.4792,31.5208,0.6361,52.1602,29.8398
325,2017-10-27,SA,3,3rd,4,1,L1,loss,1,0.5,...,0.628050,2.4000,1.8293,0.5790,0.5838,47.8716,34.1284,0.5991,49.1262,32.8738
2058,2017-12-26,NO,7,7th,17,16,W2,win,2,9.5,...,0.509300,-0.2121,-0.7194,0.4930,0.4933,40.4506,41.5494,0.4921,40.3522,41.6478
922,2017-11-16,PHI,5,5th,8,6,W2,win,2,5.0,...,0.533675,-0.9286,-1.4497,0.4694,0.4704,38.5728,43.4272,0.4649,38.1218,43.8782
4465,2018-03-22,SA,6,6th,42,30,W5,win,5,16.0,...,0.518025,3.3056,2.8093,0.6088,0.6124,50.2168,31.7832,0.6325,51.8650,30.1350
3614,2018-02-22,MEM,12,12th,18,38,L7,loss,7,25.5,...,0.464000,-3.7143,-4.2258,0.3777,0.3749,30.7418,51.2582,0.3528,28.9296,53.0704
0,2017-10-17,ATL,2,2nd,0,0,-,-,0,0.5,...,0.000000,0.0000,0.0000,0.5000,0.0000,0.0000,82.0000,0.0000,0.0000,82.0000
4494,2018-03-23,POR,3,3rd,44,28,L2,loss,2,14.0,...,0.528575,2.8194,2.3183,0.5928,0.5927,48.6014,33.3986,0.6094,49.9708,32.0292
101,2017-10-20,IND,4,4th,1,1,L1,loss,1,1.0,...,0.687500,-4.5000,-5.2500,0.3518,0.3727,30.5614,51.4386,0.3503,28.7246,53.2754
2991,2018-01-26,ORL,14,14th,14,33,L1,loss,1,20.0,...,0.454450,-5.2128,-5.7194,0.3284,0.3377,27.6914,54.3086,0.3102,25.4364,56.5636

In [16]:
print(standings.columns.values)

['stDate' 'teamAbbr' 'rank' 'rankOrd' 'gameWon' 'gameLost' 'stk' 'stkType'
 'stkTot' 'gameBack' 'ptsFor' 'ptsAgnst' 'homeWin' 'homeLoss' 'awayWin'
 'awayLoss' 'confWin' 'confLoss' 'lastFive' 'lastTen' 'gamePlay'
 'ptsScore' 'ptsAllow' 'ptsDiff' 'opptGmPlay' 'opptGmWon' 'opptOpptGmPlay'
 'opptOpptGmWon' 'sos' 'rel%Indx' 'mov' 'srs' 'pw%' 'pyth%13.91'
 'wpyth13.91' 'lpyth13.91' 'pyth%16.5' 'wpyth16.5' 'lpyth16.5']